<mat-card class="fullscreen-card">
  <mat-card-header class="cardtitle">
    <span>Adopta</span>
  </mat-card-header>

  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <div>
          <p class="cardbody">
            Bienvenido a mi página web donde podrás encontrar información sobre
            razas y descripciones de perros y lo mejor es que tu podrás
            registrar el tuyo.✨
          </p>
          <p class="cardbody" style="font-style: italic;">BIENVENIDO Y LLENATE DE TERNURA!🐶</p>

          <button mat-stroked-button routerLink="/dogs">Ver perritos</button>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <img
          src="https://storagevefe.blob.core.windows.net/angulardeveloper/lili.png"
          height="310px"
        />
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
